<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" href="datatables/datatables-1.10.18.min.css" type="text/css">
        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script src="datatables/datatables-1.10.18.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="header">
            <img src="img/logo.png" class="logo">
            <h1 id="title">{{ title }}</h1>
        </div>
        {{ content }}
        <p><a href="{{ legal_notice }}">Legal Notice</a> <a href="{{ privacy }}">Privacy</a></p>
        <script src="js/map.js" type="text/javascript"></script>
    </body>
</html>



